{% extends "base.html" %}
{% block content %}
    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
        <meta name="description" content=""/>
        <meta name="author" content=""/>
        <title>Blog Post - Start Bootstrap Template</title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="assets/favicon.ico"/>
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="css/styles.css" rel="stylesheet"/>
    </head>
    <body>
    <!-- Page content-->
    <div class="container mt-5">
        <div class="row">
            <div class="col-lg-8">
                <!-- Post content-->
                <article>
                    <!-- Post header-->
                    <header class="mb-4">
                        <!-- Post title-->
                        <h1 class="fw-bolder mb-1">My Understanding of Docker</h1>
                        <!-- Post meta content-->
                        <div class="text-muted fst-italic mb-2">Posted on March 1, 2022 by Satya Abhilash</div>
                    </header>
                    <!-- Preview image figure-->
                    <figure class="mb-4">
                        <img src="{{ url_for('static', filename='images/docker.png') }}" class="d-block w-100"
                             alt="...">
                    </figure>
                    <!-- Post content-->
                    <section class="mb-5">
                        <p>Container :</p>
                        <p>
                            A container is a standard unit of software that packages up code and all its dependencies,
                            so
                            the application runs quickly and reliably from one computing environment to another. A
                            Docker
                            container image is a lightweight, standalone, executable package of software that includes
                            everything needed to run an application: code, runtime, system tools, system libraries and
                            settings. In my project we are using ngix flask container to create a container which will
                            run
                            on port 80. To run the container, we need to use docker run -d -p 80:80 docker/name command.
                            To
                            remove container docker kill container id. To check all the containers that are running
                            docker ps.
                        </p>
                        <p>Images :</p>
                        <p>
                            A Docker image is a read-only template that contains a set of instructions for creating a
                            container that can run on the Docker platform. It provides a convenient way to package up
                            applications and preconfigured server environments, which you can use for your own private
                            use
                            or share publicly with other Docker users. In my project I created a test_app repository in
                            my
                            docker hub it has latest image in which it uses flask environment to run my python codes for
                            the
                            deployment of the app. The link to the project repo is
                            https://hub.docker.com/repository/docker/savage23/test_app.
                        </p>
                        <p>Commands :</p>
                        <p>
                            Commands to start the project is docker compose up –build it will directly access dockerFile
                            in
                            the project and executes the code inside it. To login to docker use docker login command and
                            give the credentials of the docker hub. To pull an image use docker pull “image name”. To
                            run a
                            container use docker run -it -d “name”. To check version of docker use docker – version
                            command.
                        </p>
                    </section>
                </article>

            </div>
            <!-- Side widgets-->
            <div class="col-lg-4">
                <!-- Search widget-->
                <div class="card mb-4">
                    <div class="card-header">My DockerHub</div>
                    <div class="card-body">
                        Docker is a set of platform as a service products that use OS-level virtualization to deliver
                        software in packages called containers. The service has both free and premium tiers. The
                        software that hosts the containers is called Docker Engine. It was first started in 2013 and is
                        developed by Docker, Inc.
                        https://hub.docker.com/u/savage23
                    </div>
                </div>
                <!-- Categories widget-->
                <div class="card mb-4">
                    <div class="card-header">Contents</div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-6">
                                <ul class="list-unstyled mb-0">
                                    <li>Containers</li>
                                    <li>Images</li>
                                    <li>Commands</li>
                                    <img src="{{ url_for('static', filename='images/docker2.png') }}" style=" object-fit: cover; height: 12vw "
                                         alt="...">
                                    <img src="{{ url_for('static', filename='images/docker3.png') }}" style=" object-fit: cover; height: 12vw "
                                         alt="...">
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Side widget-->
                <div class="card mb-4">
                    <div class="card-header">References</div>
                    <div class="card-body">
                        https://en.wikipedia.org/wiki/Docker_(software)
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Footer-->
    <footer class="py-5 bg-dark">
        <div class="container"><p class="m-0 text-center text-white">Thank You</p></div>
    </footer>
    <!-- Bootstrap core JS-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
    <!-- Core theme JS-->
    <script src="js/scripts.js"></script>
    </body>
    </html>
{% endblock %}